.layout {
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    position: sticky;
}

.profileArea {
    display: flex;
    flex-direction: row;
    width: 2vw;
    align-items: center;
    justify-content: flex-end;
}

.icon {
    padding: 5px;
}